<html>
  <body>
    <br/>
    <div class = 'container-sm'>
      <div class="jumbotron">
          <h1>Collections</h1>
      </div>
      <hr class="my-4">
      <br/>
      <div class = 'container-sm'>
        <%= search_form_for(@query, class:'d-flex') do |f| %>
          <%= f.search_field :title_or_description_cont_any, placeholder: "Search...", class: 'form-control me-2' %>
          <%= f.submit "Search!" , class: 'btn btn-outline-primary'%>
        <% end %>
      </div>
      <% if @col.present? %>
      <h4><%= pluralize(@col.count, 'Result')%></h4> 
      <div class="container-md"> 
        <% @col.each do |collection|%>
        <p class="">
          <%= link_to collection.title, collection_path(collection) %>
        </p>
        <br/>
        <%end%>
      </div>
        <%end%>
        <br/>
      <table class = 'table table-light-stripped table-hover'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each do |collection|%>
          <tr>
            <th><%= link_to collection.title, collection_path(collection) %></th>      
            <th><%= collection.description %> </th>
          </tr>
          <%end%>
        </tbody>
      </table>
      <br/>  
      <div class = 'container-sm'>
        <%= will_paginate @collections, 
          class: 'pagination', 
            previous_label: 'Previous', 
            next_label: 'Next', 
            inner_window: 5, 
            outer_window: 1,  
            page_links: true, 
            params: { controller: 'collections', action: 'index' } %>
      </div>
    </div>
  </body>
</html>