<html>
  <head>
  <br/>
    <div class='jumbotron'>
        <div class="container-sm">
           
            <h3> Description: <%= @source.description %>  </h3>
            <h4>Link: <%=link_to @source.link, @source.link %> </h4> 
            <hr class="my-4">
        </div>
    </div>
  <head>
  <br/>
  <body>
        <div class = 'container-sm'>
          <%= search_form_for(@query, url: source_path(@source),class:'d-flex') do |f| %>
              <%= f.search_field :title_or_description_cont_any, placeholder: "Search...", class: 'form-control me-2' %>
              <%= f.submit "Search!" , class: 'btn btn-outline-success'%>
          <% end %>
        <% if @collection.present? %>
          <p><%= pluralize(@collection.count, 'Result')%></p> 
              <div>
                <table class= "table">
                  <% @collection.each do |collection|%> 
                    <tr> 
                      <td><%= link_to collection.title, collection_path(collection)%></td> 
                      <td><%= collection.description.truncate_words(20)%> </td>
                      <td><%= button_to 'add source', collection_sources_path(collection_id: collection.id, source_id: @source), turbo_stream_method: :post, class: 'btn btn-outline-success'%>
                    </tr> 
                  <%end%>      
                </table>
              </div>
          </div>
        <%end%>
      </div>
  </body>
<html>
          