<html>
    <body>
        <header>
        <div class='container-lg '>

            <div class="card-body d-flex justify-content-between">
                <div class='jumbotron'>
                    <h1 class="card-title"><%= @user.name %></h1>
                    <p class="card-text"><%= @user.bio %></p>
                </div>
               <div>
                    <%= image_tag(@user.avatar, class: "custom-avatar ml-auto d-block" , alt: "placeholder")%>
                 </div>
            </div>
            
        <hr class="my-4"/>
        </div>
        </header>
        <div class='container-sm '>
            <table class='table table-light table-striped '>
                <h4><%= link_to 'Source +', new_source_path, class: 'profile-link' %></h4>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Link</th>
                        <th>Edit Source</th>
                     </tr>
                </thead>
                <tbody>
                    <% if @sources %>
                    <% @sources.each do |source| %>
                        <tr>
                            <th><%= link_to source.description, source_path(source) %></th>
                            <th><%= link_to source.link, source.link %></th>
                            <th><%= link_to '^', edit_source_path(source), class: 'btn btn-outline-secondary'%>
                        </tr>
                <tbody>
                        <% end %>
                    <% end %>
            </table>
            
                <h4><%= link_to 'Collection +', new_collection_path, class: 'profile-link' %></h4>
                <% if @collections %>
                    <table class='table table-light table-striped table-hover'>
                        <thead>
                            <tr>
                                <th>Collection name</th>
                                <th>Description</th>
                                <th>remove me from collection</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        <% @collections.each do |collection| %>
                            <tr>
                                <th> <%= link_to collection.title, collection_path(collection) %></th>
                                <th> <%= collection.description%></td>
                                    <% user_collection = collection.user_collections.find_by(user: @user) %>
                                <th><%= button_to "X", collection_user_collection_path(collection.id, user_collection.id), method: :delete, class: "btn btn-outline-secondary"  %></th> 
                                
                            <tr>
                        </tbody>
                    <% end %>
                <% end %>
                    </table>
            
            <table class="table table-light table-striped table-hover">
                <thead>
                 <tr>
                    
                    <th>Edit profile</th>
                    <th></th>
                    <th>Signout</th>
                </tr>
                <thead>
                <tbody>
                    <tr>
                        
                        <th> <%= link_to "^", edit_user_path, class: 'btn btn-outline-primary' %></th>
                        <th></th>
                        <th><%= button_to "X", signout_path, class: 'btn btn-outline-danger', method: :delete %></th>
                    <tr>
                <tbody>
            </table>
        </div>
    </body>
</html>