
<div>
    <h2><%= @user.name %></h2>
    <%=@user.bio%>
    <img
    <%= @user.avatar %>
    >
</div>

    <h1>
        here are all the sources
    </h1>
    
    <% @sources.each do |source|%>
        <h4>
            <%= link_to source.description, source_path(source) %>
        </h4>
       
    <%end%>
    <%= link_to 'Create source', new_source_path %>
    <%# <%= link_to 'Edit', edit_source_path %> 

<%= link_to "Edit", edit_user_path%>
<%= button_to "Logout", logout_path, method: :delete %>
 <%= link_to 'Create Collection', new_collection_path %>
    <%# <%= link_to 'Edit', edit_collection_path %> 

