<!DOCTYPE html>
<html>
  <head>
    <title>Saperi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
          <%= image_tag("Sapiam_Logo.png", class: "navbar-brand img-fluid" , alt: "Sapiam Logo") %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to 'Collections', collections_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to 'Login', login_path, class: "nav-link"%>
              </li>
            </ul>
            <% if current_user.present? %>
              <div class="d-flex">
                <%= button_to 'Profile', user_path(@current_user), method: :get, class: "font-monospace btn btn-outline-success"%>
              </div>
            <%end %>
          </div>
        </div>
      </nav>
      <%= yield %>
      <footer class="footer mt-auto py-3 bg-light">
    <div class="container-sm position-static">
      <span class="text-muted">built by </span>
      <a href="https://aotaola.netlify.app/">Alejandro Otaola</a>
      <a href="https://www.linkedin.com/in/aotaola/"><%= image_tag("Linkedin.png", class: "navbar-brand img-fluid" , alt: "Linkedin Logo") %></a>
      <a href="https://github.com/Aotaola"><%= image_tag("Github_LOGO.png", class: "navbar-brand img-fluid" , alt: "github Logo") %></a>
    </div>
  </footer>
    </div>
  </body>
</html>
