<!DOCTYPE html>
<html>
  <head>
    <title>Saperi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>
      Saperi  
    </h1>
    <p>
      (latin)
      present passive infinitive of 'sapere': to be known, to be wise, to have good taste and judgement
    </p>
    
    <%= yield %>
    <ul>
    <li>
     <%= link_to 'About', about_path %>
    </li>
    <li>
    <%= link_to 'Collections', collections_path %>
    </li>
    <li>
    <%= link_to 'Signup', signup_path %>
    </li>
    <li>
    <%= link_to 'Home', root_path %>
    </li>
</ul>
  </body>
  
</html>
